.Header {
  padding-block: 2rem;
}

.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.h1 {
  font-size: 3rem;
}
.actions {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
