.CardStatus {
    font-weight: 600;
    padding-block: 6px;
    padding-inline: 0.5rem;
    border-radius: var(--border-radius);
    display: inline-block;
    min-width: 92px;
    text-align: center;
    font-size: 12px;
    pointer-events: none;
}


.CardStatus.Ongoing{
    background-color: var(--color-green);
}

.CardStatus.Finished{
    background-color: var(--color-red);
}

.CardStatus.Scheduled{
    background-color: var(--color-orange);
}